<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8357E5">
    <title>Proffy</title>

    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/parcials/page-landing.css">
    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

        <script src="../public/scripts/main.js" defer></script>
        
</head>

<body id="page-landing">

    <main id="container">
        <div class="logo-container">
            <img src="../public/images/logo.svg" alt="Proffy">
            <h2>Plataforma de estudos online</h2>
        </div>

        <img src="../public/images/landing.svg" alt="Imagem" class="hero-image">

        <div class="buttons-container">
            <a href="/study" class="study">
                <img src="../public/images/icons/study.svg" alt="Estudar">
                Estudar
            </a>

            <a href="/give-classes" class="give-classes">
                <img src="../public/images/icons/give-classes.svg" alt="Dar Aulas">
                Dar Aulas
            </a>

        </div> <!-- button-container -->

        <span class="total-connections">
            Total de 200 conexões ja realizadas
            <img src="../public/images/icons/purple-heart.svg" alt="Coração">
        </span>
    </main>

</body>

</html>